/* Styles globaux pour le conteneur */

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* Style pour les cartes */

.card {
    border-radius: 15px;
    overflow: hidden;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-body {
    padding: 1.5rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    background-color: #138496;
    border-color: #117a8b;
}