<nav class="navbar navbar-expand-lg navbar-dark bg-dark-blue">
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bold" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-item-spacing" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active font-weight-bold" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active font-weight-bold" aria-current="page" routerLink="/registration">Admin Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active font-weight-bold" aria-current="page" routerLink="/registration">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active font-weight-bold" aria-current="page" routerLink="/registration">Chef</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active font-weight-bold" aria-current="page" routerLink="/registration">Menu</a>
                </li>
            </ul>
            <button type="button" class="btn btn-success" routerLink="/login">Login</button>
            <button type="button" class="btn btn-danger">Logout</button>
        </div>
    </div>
</nav>

<!-- Navbar End -->

<!-- Hero Start -->
<div class="container-fluid p-0">
    <div class="row align-items-center justify-content-start hero-header mb-5" style="background-image: url('../../assets/image3.jpg'); background-size: cover; background-position: center; height: 100vh; width: 100vw;">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 text-center text-lg-start my-5 pt-5 pb-4 text-right-adjust">
            <h1 class="display-3 text-white mb-3 animated slideInDown font-weight-bold">New Restaurant in Town</h1>
            <h1 class="lead text-white mb-4 font-weight-bold bigger-text">Enjoy our special menus</h1>
            <h1 class="lead text-white mb-4 font-weight-bold bigger-text">Every Sunday and Friday</h1>
            <a href="" class="btn btn-danger py-2 px-4">Reservation</a>
        </div>
    </div>
</div>

<!-- Hero End -->